.reset, body, .slide {
  padding: 0px;
  margin: 0px;
  clear: both; }

#sierra {
  background-image: url("../images/ChuckNew.jpg"); }

/*
 * sections
 */
body {
  font-family: serif;
  font-size: 1em;
  line-height: 1.6;
  transition: none; }

#top {
  padding-top: 10px;
  width: 100%;
  position: fixed;
  background: black; }
  #top div {
    margin: auto;
    max-width: 800px; }

#mast {
  margin-top: 10px;
  background: none;
  line-height: 1.2;
  color: white; }
  #mast a {
    color: white;
    font-style: italic; }
  #mast a:hover {
    color: #ed1a76; }
  #mast .sub {
    font-style: italic;
    color: #ccc; }
  #mast img {
    transition-duration: .2s; }
  #mast h2 {
    transition-property: size;
    transition-duration: .2s; }

.small .hideable {
  display: none;
  opacity: 0; }

.small img {
  max-width: 200px; }

.small h2 {
  font-size: 1em; }

.large img {
  width: 100%;
  max-width: 400px; }

.large .hideable {
  opacity: 1; }

.nojs body {
  background: white; }

.nojs #mast {
  background: black; }

/*
 * standalone elements
 */
.slide {
  padding: 0px;
  width: 100%;
  /* width wrapping */ }
  .slide div {
    max-width: 800px;
    margin: auto;
    /* Project bits */ }
    .slide div .project {
      transition-duration: .2s;
      width: 390px;
      border: 1px solid #aaa;
      border-radius: 5px;
      padding: 0 0 1em 0;
      display: inline-block;
      margin: 3px;
      overflow: hidden; }
      .slide div .project .cover {
        height: 15em;
        background-position: center center;
        background-size: cover;
        margin: 0px;
        padding: 1em; }
      .slide div .project h2 {
        margin: .5em 0 0 1em;
        padding: 0; }
      .slide div .project p {
        margin: 0 0 0 1.5em;
        text-indent: 0; }
    .slide div .project:hover {
      box-shadow: 1px 1px 3px #333; }
  .slide table {
    line-height: 1.3;
    margin: 0;
    padding: 2px;
    border-spacing: 0;
    border-collapse: collapse;
    vertical-align: text-top; }
  .slide ul {
    margin: 5px; }
  .slide p {
    text-indent: 1em;
    max-width: 800px;
    margin: auto; }
  .slide h1 {
    font-size: 2em;
    font-style: italic;
    max-width: 800px;
    margin: auto;
    margin-top: 1.7em; }

h2 {
  font-style: italic; }

a {
  transition-duration: .2s; }
