// covers.scss
// EDIT THIS
#sierra {
    background-image: url("../images/ChuckNew.jpg");
}

#virtualKeyality {
    background-image: url("../images/keyality.jpg");
}

#ohack16 {
    background-image: url("../images/ohackscreenshot.png");
    background-size: contain;
}