//setup
$width: 800px;
$grey: #ccc;
$pink: #ed1a76;
.reset {
    padding: 0px;
    margin: 0px;
    clear: both;
}

//sections
body {
    @extend .reset;
    font-family: serif;
    font-size: 1em;
    line-height: 1.6;
    transition: none;
}
#top{
    position: fixed;
    background: black;
}
#mast {
    margin-top: 10px;
    background: none;
    line-height: 1.2;
    color: white;
    a {
        color: white;
        font-style: italic;
    }
    a:hover {
        color: $pink;
    }
    .sub {
        font-style: italic;
        color: $grey;
    }
    img{
        transition-duration: .2s;
    }
    .hideable{
        // transition-property: size;
        // transition-duration: .2s;
    }
    h2{
        transition-property: size;
        transition-duration: .2s;
    }
}

.small {
    .hideable {
        display: none;
        opacity: 0;
    }
    img{
        max-width: 200px;
    }
    h2{
        font-size: 1em;
    }
}
.large{
img {
        width: 100%;
        max-width: 400px;
    }
    .hideable{
        opacity: 1;

    }
}

.nojs {
    body {
        background: white;
    }
    #mast {
        background: black;
    }
}

//standalone elements
.slide {
    @extend .reset;
    padding: 0px;
    width: 100%;
    div {
        /*width wrapping*/
        max-width: $width;
        margin: auto;
    }
    p{
        max-width: $width;
        margin: auto;
    }
    .cover{
        height: 500px;
        background: url("Chuck.jpg");
    }
}

.full {
    height: 100vh;
    width: 100%;
}

.vcwrapper {
    display: table;
}

.arrow {
    font-variant-position: sub;
    font-size: .6em;
}

.arrow:before {
    content: "\0025BC";
}

h1 {
    font-size: 2em;
}

h2 {
    font-weight: normal;
    font-style: italic;
}
a{
    transition-duration: .2s;
}