.main-photo {
  overflow: visible;
}
picture::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-image: var(--img-src);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  /* background: red; */
  filter: blur(20px);
  z-index: -1;
}