.prog-blur:after {
  content: "";
  position: absolute;
  top: -20px;
  bottom: 20px;
  left: -50px;
  right: 50px;
  /* height: 20%; */
  /* inset: 10%; */
  /* backdrop-filter: blur(20px); */
  /* border: 1px solid white; */
  @apply bg-white;
  mask: linear-gradient(black 70px, transparent 320px);
  /* -webkit-mask: linear-gradient(0deg, black, transparent 50%); */
}

.prog-blur-x:after {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  @apply bg-white;
  mask: linear-gradient(
      90deg,
      hsl(0deg 0% 100%) 1%,
      hsl(0deg 0% 70%) 5%,
      hsl(0deg 0% 0%) 20%,
      hsl(0deg 0% 0%) 80%,
      hsl(0deg 0% 70%) 95%,
      hsl(0deg 0% 100%) 99%
    )
    luminance;
}
