
<h2>Projects</h2>
<div class="project-thumb-container">
<% for(var post of page.posts.data) { %>
  <% if (post.layout == 'project') { %>
    <%- partial('partials/projectThumb', {post: post}) %>
  <% } %>
<% } %>
</div>