
<%- partial('partials/topBar') %>
<div class="wrapper-medium">
  <a name="about" style="padding-top:150px"></a>
  <div id="picOfMe"></div>
  <h2 >About me
    <span style="font-size: .6em; font-weight:normal; color: #666;">Why I rock 🎶</span>
  </h2>
  <h3>A brief history of Chuck &amp; tech</h3>
  <p>I'm a computer science student with experience in photography, digital and print graphic design, teaching, and leading.
    I've been "into computers" my whole life, but I didn't really get into the technical stuff until middle school, where
    I had to learn about networking and bash to run a minecraft server. Today, I do most of my work in JavaScript and I experiment
    with VR and game design in my free time. In a different life, I might have been a poet or a baker, but as it is I do
    these things on the side.
  </p>
</div>
<br>
<br>
<br>
<div class="wrapper-wide">

  <a name="projects" style="padding-top:150px"></a>
  <h2>Projects & Experience</h2>
  <div class="project-thumb-container">
    <% page.posts.each(function(post) { %>
      <% if (post.layout == 'project') { %>
        <%- partial('partials/projectThumb', {post: post}) %>
      <% } %>
    <% }) %>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
<script src="<%- url_for('/scripts/topsize.js') %>"></script>